input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white;
    font-size: 20px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

body {
  background-repeat : no-repeat;
  background-size : 100% 700px;
  position: absolute;

}

.center1 {
    margin: auto;
    width: 60%;
    border: 3px outset ;
    padding: 10px;
    border-color: black;
}
